---
// Componente tarjeta de proyecto
interface Project {
    title:       string;
    img:         string;
    linkGithub:  string;
    linkLive:    string;
    description: string;
    details:     string;
    author:      string;
    skills:      string;
    client:      string;
}
interface Props {
  project: Project;
  id: number;
  path: "projects"|"challenges";
}
type loading = "eager" | "lazy"
import IconGithub from '../assets/icons/brand-github.svg';
import IconWeb from '../assets/icons/world-www.svg';
import IconDetail from '../assets/icons/file-description.svg';
import LinksIconProjects from './LinksIconProjects.astro';
import { Image } from 'astro:assets';
const { project, id, path } = Astro.props;
const link = [
    {alt:"Code", link:project.linkGithub, src:IconGithub},
    {alt:"Live", link:project.linkLive, src:IconWeb},
    {alt:"Detail", link:`${path}/${id}`, src:IconDetail}
]
const pathName = Astro.url.pathname;
let loadingProject:loading = "lazy";
let loadingIcon:loading = "lazy";
if(pathName.includes("projects")){
  if(id<9) loadingProject = "eager";
  if(id<6) loadingIcon = "eager";
}else if(pathName.includes("challenges")){
  if(id<6) loadingProject = "eager";
  if(id<3) loadingIcon = "eager";
}
---
<li>
  <Image
    width={448}
    height={218}
    loading={loadingProject}
    quality={50}
    format="webp"
    src={project.img}
    alt={project.title}
    class="rounded-lg border border-zinc-700 border-solid aspect-[16/8] object-cover"
    transition:name={project.title}
  />
  <div class="p-1 text-base text-gray-400 mt-1 bg-zinc-800 border border-solid border-zinc-700 rounded-md">
    <p class="text-white block text-center font-bold mb-1">{project.title}</p>
    <div class="flex flex-row justify-center gap-x-4">
      <LinksIconProjects links={link} loading={loadingIcon}/>
    </div>
  </div>
</li>